.btn.custom-orange-btn
{
  background-color: #FF7218;
  border-color: #FF7218;
  border-radius: 30px;
  color: white;
}

.btn.custom-orange-btn:hover
{
  background-color: #FF7228;
  border-color: #FF7218;
  color: white;
}
